/* GENERIC CSS - NOT NEEDED FOR HIGHLIGHTING */

body {
	font-family: sans-serif;
	padding: 5rem;
	font-size: 1rem;
	line-height: 1.4;
}

td, th {
	padding: .5rem 2rem;
}

td:not(:nth-of-type(1)), th {
	text-align: center;
}

table {
	margin-bottom: 5rem;
}






/* CSS NEEDED FOR HIGHLIGHTING */

/* 	
	Based on 
	Simple CSS-Only Row and Column Highlighting
	Chris Coyier on Jan 30, 2015 (Updated on Apr 13, 2015)
	https://css-tricks.com/simple-css-row-column-highlighting/ 
*/

:root {
	--table-highlighting-color: rgba(0,0,0,.1);
	--table-highlighting-transition-time: .1s;
}

.pos-highlight tr, 
.pos-highlight td, 
.pos-highlight th {
	transition: background-color var(--table-highlighting-transition-time) ease-in-out;
}


table.pos-highlight {
	overflow: hidden;
	border-collapse: collapse;
}

.pos-highlight tr:hover {
	background-color: var(--table-highlighting-color);
}

.pos-highlight td, .pos-highlight th {
	position: relative;
}

.pos-highlight td:not(:nth-of-type(1))::after,
.pos-highlight th:not(:nth-of-type(1))::after {
	content: "";
	position: absolute;
	left: 0;
	top: -200vh;
	height: 400vh;
	width: 100%;
	z-index: -1;
	transition: background-color var(--table-highlighting-transition-time) ease-in-out;
}
.pos-highlight td:hover::after,
.pos-highlight th:hover::after {
	background-color: var(--table-highlighting-color);
  }


.pos-highlight td:not(:nth-of-type(1)), 
.pos-highlight th:not(:nth-of-type(1)) {
	width: 13%;
}