/* GENERIC CSS - NOT NEEDED FOR HIGHLIGHTING */

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	padding: 5rem;
	font-size: 1rem;
	line-height: 1.4;
}

.pos-highlight input[type="radio"],
.pos-highlight input[type="checkbox"] {
	height: 1.7rem;
	width: 1.7rem;
	cursor: pointer;
}

td, th {
	padding: .5rem 2rem;
}

td:not(:nth-of-type(1)), th {
	text-align: center;
}

table {
	margin-bottom: 5rem;
}

td:not(:nth-of-type(1)), 
th:not(:nth-of-type(1)) {
	width: 13%;
}



/* CSS NEEDED FOR HIGHLIGHTING */

/* 	
	Based on 
	Simple CSS-Only Row and Column Highlighting
	Chris Coyier on Jan 30, 2015 (Updated on Apr 13, 2015)
	https://css-tricks.com/simple-css-row-column-highlighting/ 
*/

:root {
	/* --table-highlighting-color: rgba(0,0,0,.1); */
	--table-highlighting-transition-time: .1s;
	--border-color: #000;
}

table.pos-highlight {
	overflow: hidden;
	border-collapse: collapse;	
}

.pos-highlight tr {
	border-bottom: 1px solid transparent;
	
}

.pos-highlight tr:hover:not(:nth-of-type(1)) {
	background-image: url(../img/1x1-black.png);
	background-position: center 1px;
	background-repeat: repeat-x;
	border-bottom-color: var(--border-color);
}

.pos-highlight tr:hover td, 
.pos-highlight tr:hover th {
}


.pos-highlight td, .pos-highlight th {
	position: relative;
}

.pos-highlight td:not(:nth-of-type(1))::after,
.pos-highlight th:not(:nth-of-type(1))::after {
	content: "";
	position: absolute;
	left: 0;
	top: -200vh;
	height: 400vh;
	width: 100%;
	z-index: -1;
}
.pos-highlight td:hover::after,
.pos-highlight th:hover::after {
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
  }


